.header {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 9999;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-buttons {
    display: flex;
    align-items: center;
}

.header-buttons__item {
    display: flex;
    align-items: center;
}

.search__btn, .cart__btn {
    background: none;
    border: none;
    cursor: pointer;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-buttons__link {
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 111px;
    height: 36px;
}

.sign-up--color {
    color: #156963;
}

.sign-in--color {
    color: #fff;
}

.sign-in--bg {
    background: #156963;
}

// Slider styles

.slider-item {
    display: flex;
}

.slider-item__content--title {
    font-size: 68px;
    font-weight: 500;
    color: #156963;
    line-height: 82px;
}

.slider-item__content--text {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #2C1500;
    margin-top: 25px;
}

.slider-item__image {
    width: 50%;
}

.slider-item__content {
    display: flex;
  flex-flow: column;
  justify-content: center;
  width: 50%;
}

.itc-slider-wrapper {
    background: none;
}

.slider-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
}

.itc-slider-btn {
 background: none;
 border: none;
 width: 320px;
 height: 160px;
 font-size: 24px;
 font-weight: 500;
 line-height: 29px;
 cursor: pointer;
}

.slider__btn {
    display: flex;
    align-items: center;
}

.slider-next-bg {
    background: #156963;
}

.prev-btn {
    color: #333333;
    margin-left: 10px;
}

.next-btn {
    color: #F2F2F2;
    margin-right: 10px;
}

.slider-name {
    text-align: start;
    font-size: 32px;
    font-weight: 500;
    line-height: 39px;
    margin-top: 12px;
}

.prev-name {
    color: #156963;
}

.next-name {
    color: #FFFFFF;
}

.itc-slider-btn-prev {
    padding-left: 50px;
}

.itc-slider-btn-next {
   padding-left: 50px;
}

.mobile-menu {
    width: 25px;
    height: 20px;
    margin-left: 10px;
    padding-top: 5px;
    display: none;
}

.mobile-nav {
    position: fixed;
    top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  z-index: 1101;
  overflow-y: scroll;
  scroll-behavior: smooth;
  transform: translateX(100vw);
  transition: transform 0.3s ease-in-out;
  &.active {
    transform: translateX(0);
  }
}

.mobile-nav__wrap {
    padding: 30px;
}

.mobile-nav__link {
    display: block;
    background: #156963;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
}

.mobile-nav__item {
    margin-bottom: 15px;
}

.mobile-menu__item {
    display: block;
    width: 100%;
    height: 3px;
    background: #000;
    position: relative;
    cursor: pointer;
    &::before {
        position: absolute;
        display: block;
        content: '';
        width: 100%;
        height: 3px;
        background: #000;
        bottom: -14px;
    }
    &::after {
        position: absolute;
        display: block;
        content: '';
        width: 100%;
        height: 3px;
        background: #000;
        top: 7px;
    }
}

.mobile-nav__output {
    border-top: 1px solid #156963;
    padding: 20px 0;
}